// 2. Import default variables and available mixins.
@import "config"; // 1. Your custom variables and variable overwrites.
@import "media-query.scss";

body {
    font-family: Ubuntu;
}

.global-internal-container {
    background-color: $bluecard-secondary;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
}


.custom-navbar {
    @include global-navbar;
  }

.custom-navbar-phone {
    @include global-navbar-phone;
}

.person-container-large {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 10%;
    max-width: 30%;
    height: auto;
}

.title-container {
    @include internal-text;
    position: relative;

    &__subtitle {
        padding-right: 4rem;
        padding-top: 3rem;
    }

    .person-container-medium {
        z-index: 2;
        width: 55%;
        position: absolute;
        bottom: 0%;
        right: 0%;
    }

    h1 {
        color: $bluecard-primary;
        padding: 1rem 0 5rem 2rem;
    }

    h3 {
        color: $bluecard-primary;
        margin: 0;
        padding: 1rem 8rem 1rem 2rem;
    }

    h4 {
        color: $black;
        margin: 0;
        padding: 1rem 0 2rem 2rem;
    }

}

@include xs {
    .text-container {
        @include internal-wrapper-small;
    }

}

@include sm {
    .text-container {
        @include internal-wrapper-small;
    }
}

@include md {
    .text-container {
        @include internal-wrapper-small;
    }
}

@include lg {
    .text-container {
        @include internal-wrapper;
    }
}

@include xl {
    .text-container {
        @include internal-wrapper;
    }
}


.text-container {
    @include internal-text;

    h2 {
        color: $bluecard-primary;
        margin: 0.5rem 0 1rem 0;
    }

    h5 {
        color: $grey;
        margin-top: 0;
        margin-bottom: 1rem;
    }
}


.info-cards {
    @include internal-card;
    @include internal-card-text;
    background-color: $bluecard-primary;

    h1,
    h2,
    h3,
    h4,
    h5 {
        color: $white;
        margin: 0.5rem;
    }
}

.download-button {
    @include download-hover;
}

.close-button-medium {
    display: flex;
    justify-content: flex-end;
}

.menu-hover .cls-1::after {
    content : url('menu-item1.svg');
  }
  .menu-hover .cls-1:hover::after {
    content : url('menu-item1.svg#hover');
  }