$bluecard-primary: #519dd6;
$bluecard-secondary: #e0e8f2;
$purplecard-primary: #626daf;
$purplecard-secondary: #dad9e8;
$greencard-primary: #72bfb5;
$greencard-secondary: #e7f2ee;
$redcard-primary: #e36f77;
$redcard-secondary: #fae2e2;
$download-button: #1e398d;
$grey: #696969;
$black: #000000;
$white: #ffffff;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 35pxs;
}

// navbar mixin

@mixin global-navbar {
  background-color: $white;
  height: 100vh;
  width: 6rem;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 0 3rem 0;
  z-index: 3;

  ul {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    align-items: center;

    li {
      align-items: center;
      text-align: center;

      h4 {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        color: $grey;
      }
    }
  }
}

@mixin global-navbar-phone {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  bottom: 0;
  z-index: 3;

  &__container {
      width: 4rem;
      height: 4rem;
  }
  .push-element50 {
      img {
          margin-top: -50px;
      }
  }
  ul {
      background-color: $white;
      box-shadow: 10px 10px 15px #0B1638;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 6rem;

      li {
          padding: 0 2rem 0 2rem;
          text-align: center;

          h4 {
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              color: $grey;
          }
      }
  }
}

// mixins for main page 

@mixin card-text {

  // extrabold header text
  h1 {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
  }

  // extrabold name text
  h2 {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
  }

  //  regular full title text
  p {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

  }
}

@mixin statement-card {
  padding: 2rem 0 2rem 2rem;
  border-radius: 20px;
}

// mixins for internal pages

@mixin internal-text {

  // heavy header text
  h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
  }

  // heavy secondary header text
  h2 {
    font-weight: 800;
    font-size: 25px;
    line-height: 25px;
  }

  // medium name text
  h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
  }

  // normal title text
  h4 {
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
  }

  // paragraph text
  h5 {
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
  }

}

@mixin sustainability-highlights-header-text {
   // heavy header text
   h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
  }

  // heavy secondary header text
  h2 {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
  }
}

@mixin sustainability-highlights-whitebox-text {
    // bold highlighted text
    h1 {
      font-weight: 800;
      font-size: 35px;
      line-height: 40px;
    }
  
    // bold secondary text
    h2 {
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
    }
  
    // normal text
    h3 {
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
    }
  
    // thin text
    h4 {
      font-weight: 200;
      font-size: 18px;
      line-height: 20px;
    }
  
  span {
    font-size: 18px;
  }
}

@mixin internal-wrapper {
  border-radius: 40px;
  background-color: $white;
  z-index: 1;
  padding: 2.5rem;
}

@mixin internal-card {
  padding: 1rem;
  border-radius: 20px;
}