// 2. Import default variables and available mixins.
@import "config"; // 1. Your custom variables and variable overwrites.

body {
    font-family: Ubuntu;
    background-color: $bluecard-secondary;
    height: 100vh;
    width: 100wh;
}

.global-internal-container {
    margin: 0;
    padding: 0;
    display: flex;
}


.custom-navbar {
    @include global-navbar;
}

.custom-navbar-phone {
    @include global-navbar-phone;
    }
    

.person-container-large {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 2%;
    max-width: 35%;
    height: auto;
}

.title-container {
    @include internal-text;
    position: relative;
    &__subtitle {
        padding-right: 4rem;
    }

    .person-container-medium {
        z-index: 2;
        width: 20rem;
        position: absolute;
        bottom: 0%;
        right: 0%;
    }
    
    h1 {
        color: $bluecard-primary;
        padding:1rem 0 5rem 2rem;
    }

    h3{
        color: $bluecard-primary;
        margin: 0;
        padding: 1rem 0 1rem 2rem;
    }

    h4 {
        color: $black;
        margin: 0;
        padding: 1rem 0 2rem 2rem;
    }

}

.text-container {
    @include internal-wrapper;
    @include internal-text;
    padding-bottom: 8rem;
    h2 {
        color: $bluecard-primary;
        margin: 0.5rem 0 1rem 0;
    }

    h5 {
        color: $grey;
        margin-top: 0;
        margin-bottom: 1rem;
    }
}

.info-cards {
    @include internal-card;
    background-color: $bluecard-primary;
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: $white;
        margin: 0.5rem;
    }
}