// 2. Import default variables and available mixins.
@import "config"; // 1. Your custom variables and variable overwrites.

body {
  font-family: Ubuntu;
}

.global-internal-container{
  margin: 0;
  display: flex;
  height: 100vh;
  width: 100wh;
}

.content-container{
  padding: 1rem;
  display: flex
}

.section-containers{
  padding: 1rem;
}

.custom-navbar {
  @include global-navbar;
}

.custom-navbar-phone {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  bottom: 0;
  z-index: 3;

  &__container {
      width: 4rem;
      height: 4rem;
  }
  .push-element50 {
      img {
          margin-top: -50px;
      }
  }
  ul {
      background-color: $white;
      box-shadow: 10px 10px 15px #0B1638;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 6rem;

      li {
          padding: 0 2rem 0 2rem;
          text-align: center;

          h4 {
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              color: $grey;
          }
      }
  }
  }

.section-title {
  color: $grey;
  font-size: 18px;
  font-weight: 500;
}

.coverpage {
  position: relative;
  img {

    object-fit: cover;
  }
}

.statement {
  @include card-text;
  @include statement-card;
  text-align: left;
  z-index: 0;
  position: relative;
  padding: 2rem 0 2rem 2rem;

  &__text {
    margin: 0;
    z-index: 1;
  }

  &__image {
    z-index: -1;
    position: absolute;
    bottom: 0%;
    right: 0;
    border-radius: 20px;

    img {
      object-fit: contain;

    }
  }

  &__button {
    position: absolute;
    bottom: 5%;
    right: 0%;
  }
}

.chairman-color {
  background: $bluecard-secondary;
  div {
    h1,
    h2 {
      color: $bluecard-primary;
    }
    p {
      color: $black;
    }
  }
}

.president-color {
  background-color: $purplecard-secondary;
  div {
    h1,
    h2 {
      color: $purplecard-primary;
    }
    p {
      color: $black;
    }
  }
}

.glance {
  @include card-text;
  align-items: center;
  text-align: center;
  padding: 3rem 0 3rem 0;
  background-color: $greencard-secondary;
  border-radius: 20px;

  h1 {
    color: $greencard-primary;
    margin: 0;
  }

  h2 {
    color: $black;
    margin: 1rem 0 0.5rem 0;
  }
}

.collapse-card-grid{
  .uk-accordion > :nth-child(n+2){
      margin-top:0;
  }
}

.accordion-animation{
  z-index:3;
  margin-bottom: -30px;
}


.accordion-layout {
  @include card-text;
  border-radius: 20px;
  padding: 0.5rem 0.5rem 2rem 0.5rem;
  position: relative;

  &__link{
    position: absolute;
    right: 10px;
    top:20px;
  }
  .uk-accordion-title::before {
    // idk why but this height function makes the close open button disappear
    height: 0;
    background-image: none;
  }
  &__title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    h1 {
      padding-top: 1rem;
      padding-left: 1rem;
    }
  }
}

.accordion-content {
  @include internal-text;
  padding-left: 1rem;
  h5 {
    color: $grey;
  }
}

.environment-highlight-colors {
  background-color: $greencard-secondary;
  h1 {
    color: $greencard-primary;
  }
}

.social-highlight-colors {
  background-color: $redcard-secondary;
  h1 {
    color: $redcard-primary;
  }
}


.economic-highlight-colors {
  background-color: $bluecard-secondary;
  h1 {
    color: $bluecard-primary;
  }
}

.advertisement{
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
  height: auto;
  img{
    object-fit: contain;
    width: auto;
  }
}