* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 35pxs;
}

body {
  font-family: Ubuntu;
}

.global-internal-container {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100wh;
}

.content-container {
  padding: 1rem;
}

.custom-navbar {
  background-color: #ffffff;
  height: 100vh;
  width: 6rem;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 0 3rem 0;
  z-index: 3;
}

.custom-navbar ul {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-navbar ul li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.custom-navbar ul li h4 {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #696969;
}

.section-title {
  color: #696969;
  font-size: 18px;
  font-weight: 500;
}

.coverpage {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coverpage img {
  -o-object-fit: contain;
     object-fit: contain;
}

.statement {
  padding: 2rem 0 2rem 2rem;
  border-radius: 20px;
  text-align: left;
  z-index: 0;
  position: relative;
  padding: 2rem 0 2rem 2rem;
}

.statement h1 {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.statement h2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.statement p {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.statement__text {
  margin: 0;
  z-index: 1;
}

.statement__image {
  z-index: -1;
  position: absolute;
  bottom: 0%;
  right: 0;
  border-radius: 20px;
}

.statement__image img {
  -o-object-fit: contain;
     object-fit: contain;
}

.statement__button {
  position: absolute;
  bottom: 5%;
  right: 0%;
}

.chairman-color {
  background: #e0e8f2;
}

.chairman-color div h1,
.chairman-color div h2 {
  color: #519dd6;
}

.chairman-color div p {
  color: #000000;
}

.president-color {
  background-color: #dad9e8;
}

.president-color div h1,
.president-color div h2 {
  color: #626daf;
}

.president-color div p {
  color: #000000;
}

.glance {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 3rem 0 3rem 0;
  background-color: #e7f2ee;
  border-radius: 20px;
}

.glance h1 {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.glance h2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.glance p {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.glance h1 {
  color: #72bfb5;
  margin: 0;
}

.glance h2 {
  color: #000000;
  margin: 1rem 0 0.5rem 0;
}

.collapse-card-grid .uk-accordion > :nth-child(n+2) {
  margin-top: 0;
}

.accordion-layout {
  margin: 0;
  border-radius: 20px;
  padding: 0.5rem;
}

.accordion-layout h1 {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.accordion-layout h2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.accordion-layout p {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.accordion-layout .uk-accordion-title::before {
  height: 0;
  background-image: none;
}

.accordion-layout__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accordion-layout__title h1 {
  padding-top: 1rem;
  padding-left: 1rem;
}

.accordion-content {
  padding-left: 1rem;
}

.accordion-content h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
}

.accordion-content h2 {
  font-weight: 800;
  font-size: 25px;
  line-height: 25px;
}

.accordion-content h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.accordion-content h4 {
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}

.accordion-content h5 {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
}

.accordion-content h5 {
  color: #696969;
}

.environment-highlight-colors {
  background-color: #e7f2ee;
}

.environment-highlight-colors h1 {
  color: #72bfb5;
}

.social-highlight-colors {
  background-color: #fae2e2;
}

.social-highlight-colors h1 {
  color: #e36f77;
}

.economic-highlight-colors {
  background-color: #e0e8f2;
}

.economic-highlight-colors h1 {
  color: #519dd6;
}
/*# sourceMappingURL=main.css.map */