@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/Ubuntu-Light.eot");
  src: url("./fonts/Ubuntu-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/Ubuntu-Light.woff2") format("woff2"), url("./fonts/Ubuntu-Light.woff") format("woff"), url("./fonts/Ubuntu-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("./fonts/Ubuntu-Bold.eot");
  src: url("./fonts/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Ubuntu-Bold.woff2") format("woff2"), url("./fonts/Ubuntu-Bold.woff") format("woff"), url("./fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("./fonts/Ubuntu-Medium.eot");
  src: url("./fonts/Ubuntu-Medium.eot?#iefix") format("embedded-opentype"), url("./fonts/Ubuntu-Medium.woff2") format("woff2"), url("./fonts/Ubuntu-Medium.woff") format("woff"), url("./fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("./fonts/Ubuntu-Regular.eot");
  src: url("./fonts/Ubuntu-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Ubuntu-Regular.woff2") format("woff2"), url("./fonts/Ubuntu-Regular.woff") format("woff"), url("./fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 35pxs;
}

body {
  font-family: Ubuntu;
}

.container {
  padding: 0.5rem;
}

.custom-navbar {
  height: 100vh;
  width: 6rem;
  position: -webkit-sticky;
  position: sticky;
  overflow: hidden;
}

.custom-navbar ul {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-navbar ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.custom-navbar ul li h4 {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #696969;
}

.section-title {
  color: #696969;
  font-size: 18px;
  font-weight: 500;
}

.coverpage img {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.statement {
  text-align: left;
  padding: 2rem 0 2rem 2rem;
  border-radius: 20px;
  z-index: 0;
  position: relative;
  height: 60vh;
}

.statement h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  z-index: 1;
}

.statement h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.statement p {
  font-weight: normal;
  font-size: 16 px;
  line-height: 18px;
}

.statement__text {
  z-index: 1;
}

.statement__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -1;
}

.statement__image img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 85%;
}

.statement__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.chairman-color {
  background: #e0e8f2;
}

.chairman-color h1, .chairman-color h2 {
  color: #519dd6;
}

.chairman-color p {
  color: #000000;
}

.president-color {
  background-color: #dad9e8;
}

.president-color h1, .president-color h2 {
  color: #626daf;
}

.president-color p {
  color: #000000;
}

.glance {
  background-color: #e7f2ee;
  height: 50vh;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.glance h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  z-index: 1;
}

.glance h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.glance p {
  font-weight: normal;
  font-size: 16 px;
  line-height: 18px;
}

.glance h1 {
  color: #72bfb5;
}

.glance h2 {
  color: #000000;
}
/*# sourceMappingURL=main.css.map */