* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 35pxs;
}

body {
  font-family: Ubuntu;
}

.global-internal-container {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.environment-background {
  background-color: #e7f2ee;
}

.social-background {
  background-color: #fae2e2;
}

.economic-background {
  background-color: #e0e8f2;
}

.custom-navbar {
  background-color: #ffffff;
  height: 100vh;
  width: 6rem;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 0 3rem 0;
  z-index: 3;
}

.custom-navbar ul {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-navbar ul li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.custom-navbar ul li h4 {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #696969;
}

.custom-navbar-phone {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  bottom: 0;
  z-index: 3;
}

.custom-navbar-phone__container {
  width: 4rem;
  height: 4rem;
}

.custom-navbar-phone .push-element50 img {
  margin-top: -50px;
}

.custom-navbar-phone ul {
  background-color: #ffffff;
  -webkit-box-shadow: 10px 10px 15px #0B1638;
          box-shadow: 10px 10px 15px #0B1638;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
}

.custom-navbar-phone ul li {
  padding: 0 2rem 0 2rem;
  text-align: center;
}

.custom-navbar-phone ul li h4 {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #696969;
}

.title-container {
  padding: 2.5rem 2.5rem;
}

.title-container h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
}

.title-container h2 {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.title-container h1 {
  color: #72bfb5;
  padding-bottom: 1rem;
}

.title-container h2 {
  margin: 0;
  padding: 1rem 0 0 0;
  color: #000000;
}

.title-container-environment-colors h1 {
  color: #72bfb5;
}

.title-container-social-colors h1 {
  color: #e36f77;
}

.title-container-economic-colors h1 {
  color: #519dd6;
}

.responsive-image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.responsive-image-environment {
  height: 20rem;
  width: 100%;
}

.responsive-image-environment img {
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
}

.text-container {
  border-radius: 40px;
  background-color: #ffffff;
  z-index: 1;
  padding: 2.5rem;
  padding-bottom: 8rem;
}

.text-container h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
}

.text-container h2 {
  font-weight: 800;
  font-size: 25px;
  line-height: 25px;
}

.text-container h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.text-container h4 {
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}

.text-container h5 {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
}

.text-container h2 {
  margin: 0.5rem 0 1rem 0;
}

.text-container h5 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.info-cards-layout {
  padding: 1rem;
  border-radius: 20px;
  padding: 2rem;
}

.info-cards-layout h1 {
  font-weight: 800;
  font-size: 35px;
  line-height: 40px;
}

.info-cards-layout h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.info-cards-layout h3 {
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}

.info-cards-layout h4 {
  font-weight: 200;
  font-size: 18px;
  line-height: 20px;
}

.info-cards-layout span {
  font-size: 18px;
}

.info-cards-layout h1,
.info-cards-layout h2,
.info-cards-layout h3,
.info-cards-layout h4,
.info-cards-layout h5 {
  margin: 0;
}

.environment-highlighted {
  background-color: #72bfb5;
}

.environment-highlighted h1,
.environment-highlighted h2,
.environment-highlighted h3,
.environment-highlighted h4,
.environment-highlighted h5 {
  color: #ffffff;
}

.environment-none {
  background-color: #e7f2ee;
}

.environment-none h1,
.environment-none h2,
.environment-none h3,
.environment-none h4,
.environment-none h5 {
  color: #72bfb5;
}

.social-highlighted {
  background-color: #e36f77;
}

.social-highlighted h1,
.social-highlighted h2,
.social-highlighted h3,
.social-highlighted h4,
.social-highlighted h5 {
  color: #ffffff;
}

.social-none {
  background-color: #fae2e2;
}

.social-none h1,
.social-none h2,
.social-none h3,
.social-none h4,
.social-none h5 {
  color: #e36f77;
}

.economic-highlighted {
  background-color: #519dd6;
}

.economic-highlighted h1,
.economic-highlighted h2,
.economic-highlighted h3,
.economic-highlighted h4,
.economic-highlighted h5 {
  color: #ffffff;
}

.economic-none {
  background-color: #e0e8f2;
}

.economic-none h1,
.economic-none h2,
.economic-none h3,
.economic-none h4,
.economic-none h5 {
  color: #519dd6;
}
/*# sourceMappingURL=sustainable-highlights.css.map */